#your-balance{
    text-align: left;
    padding: 5pt;
    padding-left: 10pt;
    padding-top: 0;
    margin: 3pt;
    border-radius: 2pt;
    background: linear-gradient(90deg, rgba(252,133,215,1) 0%, rgba(64,0,70,1) 100%);;
  }
  
  #total-amount{
    margin: auto;
    text-align: right;
    font-size: 6vh;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
  }