.App {
  text-align: center;
}

#container{
  background-color: rgb(233, 233, 233);
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}

.MuiContainer-root {
  padding-left: 0px;
  padding-right: 0px;
}

